{% extends 'app/base.html' %}
{% load static %}
{% block title %}NEWS{% endblock title %}
{% block main-content %}


    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                

                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <p>ATLETE A Brand of Pratap &amp; Sons</p>
                        <h1>NEWS</h1><hr>
                        <a class="btn btn-info" href="{% url 'news' %}?country=in&category=sports">More countries ISO Code: ae, ar, at, au, be, bg, br, ca, ch, cn, co, cu, cz, de, eg, fr, gb, gr, hk, hu, id, ie, il, in, it, jp, kr, lt, lv, ma, mx, my, ng, nl, no...</a>
                    </div>
                </div>

                
            </div>
        </div>
    </div>



  <div class="row">
    {% for blog in articles %}
        <div class="col-lg-4 col-md-6">
            <div class="single-latest-news">
                <a class="btn"><div class="latest-news-bg"><img src="{{blog.urlToImage}}" alt="" height="220px" width="500px"></div></a>
                <div class="news-text-box">
                <h3><a href="{{ blog.url }}" target="_blank">{{blog.title | truncatewords:12}}</a></h3>
                <p class="blog-meta">
                    <span class="author"><i class="fas fa-user"></i>&nbsp;Author: {{ blog.author }}</span>
                    <span class="date"><i class="fas fa-calendar"></i>&nbsp;Date: {{blog.publishedAt}}</span>
                </p>
                <p class="excerpt">{{blog.description|truncatewords:18}}</p>
                <a href="{{ blog.url }}" target="_blank" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    {% endfor %}
  </div>









{% endblock main-content %}