{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block main-content %}

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <p>ATLETE A Brand of Pratap &amp; Sons</p>
            <h1>Reset Password Completed!</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
  <h4>Reset Password Completed!</h4>
  <div><iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
   
  </div>
 </div>
</div>
{% endblock main-content %}