{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Done{% endblock title %}
{% block main-content %}

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <p>ATLETE A Brand of Pratap &amp; Sons</p>
            <h1>Reset Password Done</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
  <h4 class="alert-heading">Well done!</h4>
  <p>An Email has been sent with instructions to reset your password. <b>Check Your Email!</b></p>
   
  </div>
 </div>
</div>
{% endblock main-content %}